In [1]:
import pandas as pd
import numpy as np
import math as mt

In [2]:
data_df = pd.read_csv('data/train.csv')
data_df.head(3)
data_df.shape
data_df.info()

c:\users\admin\appdata\local\programs\python\python36\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (35,43) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53030 entries, 0 to 53029
Columns: 195 entries, id to Field_82
dtypes: float64(133), int64(3), object(59)
memory usage: 78.9+ MB

In [3]:
data_df['Field_1']

0        2019-07-24T03:39:02.854Z
1                             NaN
2        2019-01-17T07:15:26.367Z
3                             NaN
4                             NaN
                   ...
53025    2019-12-24T15:39:31.156Z
53026                         NaN
53027    2017-11-11T17:15:01.948Z
53028                         NaN
53029                         NaN
Name: Field_1, Length: 53030, dtype: object

In [4]:
data_df["date_added"] = pd.to_datetime(data_df['Field_1'])
data_df['year_added'] = data_df['date_added'].dt.year
data_df['month_added'] = data_df['date_added'].dt.month

In [5]:
data_df['month_added']

0         7.0
1         NaN
2         1.0
3         NaN
4         NaN
         ...
53025    12.0
53026     NaN
53027    11.0
53028     NaN
53029     NaN
Name: month_added, Length: 53030, dtype: float64

In [6]:
data_df['year_added']

0        2019.0
1           NaN
2        2019.0
3           NaN
4           NaN
          ...
53025    2019.0
53026       NaN
53027    2017.0
53028       NaN
53029       NaN
Name: year_added, Length: 53030, dtype: float64

In [8]:
data_df['Field_18'][0:5]

0    Trung tâm Kinh doanh tiền mặt
1                              NaN
2                              NaN
3                              NaN
4                              NaN
Name: Field_18, dtype: object

In [10]:
data_df[1:195][1:2]

,id,label,Field_1,Field_2,Field_3,Field_4,Field_5,Field_6,Field_7,Field_8,...,brief,num_of_phone,Field_78,Field_79,Field_80,Field_81,Field_82,date_added,year_added,month_added
2,2,0,2019-01-17T07:15:26.367Z,2019-01-17T07:17:45Z,2.0,T1,2019-01-17,2019-01-17,2019-01-01,2019-12-31,...,1,1.0,33.0,10.769445,6.466667,0.0,2,2019-01-17 07:15:26.367000+00:00,2019.0,1.0

In [11]:
data_df["F_startDate"]

0               NaN
1               NaN
2        2019-08-18
3               NaN
4               NaN
            ...
53025    2019-12-31
53026           NaN
53027           NaN
53028           NaN
53029    2019-09-18
Name: F_startDate, Length: 53030, dtype: object

In [12]:
data_df["Field_5"]

0        2018-12-27
1               NaN
2        2019-01-17
3               NaN
4               NaN
            ...
53025    2019-12-24
53026           NaN
53027    2017-07-22
53028           NaN
53029           NaN
Name: Field_5, Length: 53030, dtype: object

In [14]:
date_time = data_df['Field_1']

1. Bước 1: Lấy tất cả các trường dữ liệu có độ dài lớn hơn hoặc bằng 9
 - lấy 1 bản ghi -> đưa về string
 - nếu là ngày tháng năm (lấy)
 - dữ liệu khác (loại bỏ)

2. Bước 2: Chuyển dữ liệu về dạng tháng-năm

 - token string.
 - pandas datetime.

3. Bước 3: Đưa dữ liệu khách hàng- ngày tháng về dictionary.

In [15]:
data_df['Field_1']

0        2019-07-24T03:39:02.854Z
1                             NaN
2        2019-01-17T07:15:26.367Z
3                             NaN
4                             NaN
                   ...
53025    2019-12-24T15:39:31.156Z
53026                         NaN
53027    2017-11-11T17:15:01.948Z
53028                         NaN
53029                         NaN
Name: Field_1, Length: 53030, dtype: object

In [18]:
data_df[1:195][1:2]

,id,label,Field_1,Field_2,Field_3,Field_4,Field_5,Field_6,Field_7,Field_8,...,brief,num_of_phone,Field_78,Field_79,Field_80,Field_81,Field_82,date_added,year_added,month_added
2,2,0,2019-01-17T07:15:26.367Z,2019-01-17T07:17:45Z,2.0,T1,2019-01-17,2019-01-17,2019-01-01,2019-12-31,...,1,1.0,33.0,10.769445,6.466667,0.0,2,2019-01-17 07:15:26.367000+00:00,2019.0,1.0